name: Java CI with Maven

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 25
      uses: actions/setup-java@v4
      with:
        java-version: '25'
        distribution: 'zulu'
        cache: maven
    - name: Build with Maven
      run: mvn clean verify -f pom.xml
    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: format(${{ matrix.os }})
        path: "**/target/"
